*{
    margin:0 0 0 0;
    font-family: 'Noto Sans', sans-serif;
}
html{
    scroll-behavior:smooth;
}
.header{
height:50px;
border:solid 1px transparent;
padding:10px 80px 10px 40px;
display: flex;
flex-direction: row;
max-width: auto;
justify-content: space-between;
font-weight: bold;
}
.left img{
    width:100px;
    height: 75px;
    padding-left: 100px;
    margin-right:50px;
}
.right {
    padding-top:20px;
}
a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

a:hover{
    color:#25EB41;
    transition: 0.2s ease-in;
}
.middle{
    border:solid 1px transparent;   
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    position:relative;
    top:100px;
    color: white; 
    padding-bottom: 200px;
}
.middle .name1,.name2,.name3,.button1{
    padding: 5px;
}
.middle .name1{
    font-size:40px;
    font-weight:bolder;    
}
.middle .name2,.name3{
    font-size:20px;
    font-weight:lighter;
}
.name2 span{
    color: #25EB41;
}
.name3{
    padding-bottom: 40px;
}
.button1{
    border:2px solid #25EB41;
    border-radius: 100px;
    font-size:17px;
    padding: 7px 30px; 
    font-weight: bold; 
    
}
.button1:hover{
    background-color:#25EB41;
    transition: 0.3s ease-in;
    color: black;
}   
.backimg{
background-image: url(https://1.bp.blogspot.com/-t-ey8beCtdo/YBp4gd8yOeI/AAAAAAAAMBw/_9fnMe7oYHEJIiQDENi5Nk8c_ZZdJNTnwCLcBGAsYHQ/s1916/background.jpg);
}
#page2{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 80px 80px 20px 80px;
}
.mypic{
    width:350px;
    height:400px;
    margin:20px 20px;
    padding-right:30px;
}
.aboutme h1{
    padding-top:20px;
    padding-bottom:15px;
    font-size: 25px;
}
.aboutme h3{
    padding-bottom:20px;
    color:#504D4D;
    font-size: 15px;
    font-weight: 300;
}
.aboutme ul,li{
    padding-bottom:10px;
    color:#504D4D;
    font-size: 15px;
    font-weight: 300;
}
#page3{
    background:#e9f0f5; 
    margin:0;
    padding:0 100px;
}
.title{
    margin-top:40px;
}
.title h2{
    font-weight:bold;
    text-align: center;
    padding-top:30px;
    font-size:25px;
}
.timeline{
    margin-top:40px;
    margin-bottom:40px;
    position: relative;
    box-sizing: border-box;
}
.timeline:before{
    content: "";
    position: absolute;
    left:50%;
    width:2px;
    height:79%;
    background:black;
}
.timeline ul{
    margin:0;
    padding:0;
}
.timeline ul li h3{
    color: black;
    font-weight:20000;
}
.timeline ul li{
    list-style:none;
    position: relative;
    width:50%;
    padding:20px 25px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float:right;
    text-align: left;
    clear:both;
}
.content{
    padding-bottom:40px;
    border:1px solid #eee;
    padding:10px 10px;
    border-radius:20px;
    background:#fff;
    text-align:justify;
}
.timeline ul li:nth-child(odd):before{
    content:"";
    position:absolute;
    top:24px;
    right:-11px;
    width:20px;
    height:20px;
    background:#c23941;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before{
    content:"";
    position:absolute;
    top:24px;
    left:-11px;
    width:20px;
    height:20px;
    background:#c23941;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
    margin:0;
    padding: 0;
    font-weight: 600;
    color: #303e49;
}
.timeline ul li p{
    margin:10px 0 0;
    padding:0;
    line-height:1.7;
}
.timeline ul li h4{
    margin:0;
    padding:0;
    font-size:16px;
}
.timeline ul li:nth-child(odd) .time{
    position:absolute;
    top:12px;
    right:-135px;
    margin:0;
    padding:8px 16px;
    background:#303249;
    color:#fff;
    border-radius:18px;
}
.timeline ul li:nth-child(even) .time{
    position:absolute;
    top:12px;
    left:-135px;
    margin:0;
    padding:8px 16px;
    background:#303249;
    color:#fff;
    border-radius:18px;
}
#page4{
    display:flex;
    flex-direction:column;
    padding:0px 100px;
    display:flex;
}
.skillstitle{
    font-weight:bolder;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
    grid-column-gap: 20px;
    grid-row-gap:20px;
}
.c,.java,.dsp,.photography,.editing,.html{
    border:1px solid lightgray;
    border-radius: 3px;
    text-align: center;
    padding:20px;
}
.grid img{
    width:50px;
    height:50px;
    padding-bottom: 10px;
}
.grid p{
    font-size:8px;
    color:#504D4D;
    font-size: 15px;
}
.grid h2{
    font-size: 20px;
    font-weight: bold;
}
.grid div:hover{
    box-shadow:0 0 20px lightgray;
    transition:0.4s ease-in-out;
    border:solid 1px transparent;
}
.titlepage4{
    font-weight:bold;
    text-align: center;
    padding-top:30px;
    background:#e9f0f5;
}
.titlepage4 h1{
    font-weight:bolder;
    padding-top:10px;  
    font-size: 25px; 
}
.ape{
    display:flex;
    flex-direction: row;
    font-size:10px;
    justify-content: center;
}
#page5{
    background:#e9f0f5; 
    margin:0;
    padding:0 100px;
}
.ape img{
    width:50px;
    height:50px;
    padding-bottom: 10px;   
}
.ape a{
    color: black;
}
.ape div{
    padding:10px 40px 50px 40px;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.facebook,.instagram,.twitter,.snapchat,.whatsapp,.linkedin{ 
    padding-right:50px;
    padding-bottom:100px; 
}
.titlepage4 h1{
    padding-bottom:50px;
}